mn-sidenav {
  width: 320px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 20;
  transform: translate3d(-100%, 0, 0);
  will-change: transform;
  transition: transform .32s ease;

  &.visible {
    transform: translate3d(0, 0, 0) !important;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
      0 4px 5px 0 rgba(0,0,0,.14),
      0 1px 10px 0 rgba(0,0,0,.12);
  }
}
