html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-sidenav.css')

  style.

    mn-sidenav h2 {font-weight: normal}

body
  h2 mn-sidenav
  include github-corner

  .layout-fullscreen.layout-centered
    .layout-container
      div.layout-row.align-center
        button.mn-button(open-sidenav='menu') Show sidenav
        button.mn-button(toggle-sidenav='menu') Toggle sidenav
        button.mn-button(open-sidenav='another') Show sidenav right

  mn-sidenav#menu
    button.mn-button.raised(close-sidenav) close
    button.mn-button.raised(toggle-sidenav='menu') toggle menu

  mn-sidenav.right#another
    button.mn-button.raised(close-sidenav) close

  .docs.layout-container
    mn-code.sh.
      bower install --save mn-sidenav

    p Or just download the main files, located in dist/

    h3 usage
    p At the end of the body, add the tag `mn-sidenav`, with an id and content
    mn-code.html.
      <mn-sidenav id="menu">
        <!-- content here -->
      </mn-sidenav>

    p And to another element show the sidenav, just add the attribute `open-sidenav` with the id of sidenav
    
    mn-code.html.
      <!-- when click in the button, dialog will be opened -->
      <button open-dialog="example">Open dialog</button>

    p Finally to close sidenav, add to an element, the attribute `close-sidenav`, they will act when you click on it.

    mn-code.html.
      <button close-sidenav>Close menu</button>

    p And if you want add these two options to elements, use the attribute `toggle-sidenav`

    mn-code.html.
      <button toggle-sidenav="menu">Close menu</button>

    h3 javascript
    p If you want open or close, just use the methods `open`, `close` or `toggle` available on `mn-sidenav` element, e.g.
    mn-code.js.
      const sidenav = document.querySelector('mn-sidenav#menu')

      sidenav.open() // or sidenav.close(), sidenav.toggle()


  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-sidenav.js')

