html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-sidenav.css')

  style.

    mn-sidenav h2 {font-weight: normal}
    .mn-table-list .mn-item {padding: 1em 2em}

    mn-sidenav .active {background: #495057; color: white !important}

body
  h2 mn-sidenav
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      .mn-layout-row.align-center
        button.mn-button(open-sidenav='menu') Show sidenav
        button.mn-button(toggle-sidenav='menu') Toggle sidenav
        button.mn-button(open-sidenav='another') Show sidenav right

  mn-sidenav#menu.padding-title
    h2 Menu
    .mn-table-list
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen

  mn-sidenav#another.right.padding-title
    h2 Sidenav right
    .mn-table-list
      a.mn-item(href='#' close-sidenav) Stark
      a.mn-item(href='#' close-sidenav) Lannister
      a.mn-item(href='#' close-sidenav) Targaryen

  .docs.mn-layout-container
    mn-code.sh.
      # to install this module
      npm install --save mn-sidenav

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.

    h3 usage
    p Use the tag <strong class="tag">mn-sidenav</strong>, with an id and content
    mn-code.html.
      <mn-sidenav id="menu">
        <!-- content here -->
      </mn-sidenav>

    p And to other element show this sidenav, just use the attribute <strong>open-sidenav</strong> with the sidenav id
    
    mn-code.html.
      <!-- when click in the button, sidenav will be opened -->
      <button open-sidenav="example">Open sidenav</button>

    p Finally to close sidenav, use the attribute <strong>close-sidenav</strong>.

    mn-code.html.
      <button close-sidenav>Close menu</button>

    p And if you want add these two options to elements, use the attribute <strong>toggle-sidenav</strong>

    mn-code.html.
      <button toggle-sidenav="menu">Close menu</button>

    h3 javascript
    p If you want open or close, just use the methods <strong>open</strong>, <strong>close</strong> or <strong>toggle</strong> available on mn-sidenav element, e.g.
    mn-code.js.
      const sidenav = document.querySelector('mn-sidenav#menu')

      sidenav.open() // or sidenav.close(), sidenav.toggle()

    h3 Scroll

    p On method open, the sidenav automatically scroll to top, or to position top of a child element with class `.active`


  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-sidenav.js')

