html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='mn-sidenav.css')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
body
  h1 mn-sidenav

  button(toggle-sidenav='menu') toggle menu
  button(open-sidenav='menu') show menu
  button(open-sidenav='another') show another

  mn-sidenav#menu
    button(close-sidenav) close
    button(toggle-sidenav='menu') toggle menu

  mn-sidenav.right#another
    button(close-sidenav) close
  
  script(src='vendor.js')
  script(src='mn-sidenav.js')

