extends demo

block styles
  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-sidenav/master/docs/vendor.css')
  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-sidenav/master/dist/mn-sidenav.css')

block scripts
  script(src='https://rawgit.com/minimalist-components/mn-sidenav/master/docs/vendor.js')
  script(src='https://rawgit.com/minimalist-components/mn-sidenav/master/dist/mn-sidenav.js')
